header {
    background-color: #007bff; 
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: relative; 
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

header p {
    font-size: 16px;
    opacity: 0.9;
}
body {
    background-image: url('clipboard-with-pills-frame.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding: 0px;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}


.container {
   margin-top: 70px;

}


#form {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Center the form elements */
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.col-auto {
    flex: 1;
    min-width: 150px;
    margin: 5px;
}


#table-container {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


table {
    width: 100%;
    border-collapse: collapse;
}


th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}


th {
    background-color: #007bff;
    color: white;
}


button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


@media (max-width: 768px) {
    form {
        flex-direction: column;
        align-items: center;
    }

    .col-auto {
        width: 100%;
    }
}
